.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#body {
  height: 896px;
}

.week {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.week-day {
  height: 50px;
  width: 50px;

  border : solid 1px gray;
  border-radius: 2px;

  list-style: none;
  margin: 3px;

  text-align: center;


}
.week-day:active{
  box-shadow: 1px 1px 0 rgb(0,0,0,0.5); 

}
#day {
  margin:0px;
  padding: 0px;
}
#date{
  margin:0px;
  padding: 0px;
}

navbar{
  display: flex;
  justify-content: flex-end;
}

navbar i{

  margin: 15px;
}

menu{
  
  display: flex;
  flex-direction: column;

  background-color: honeydew;
  width: 80%;
  height: 100%;

  position:absolute;
  bottom:0;
  right: 0;

}

menu a {
  margin-top: 20px;
}

.slide {
  background-color: rgba(0, 0, 0, 0.2);
}

#user-button{
  border-radius: 50%;
}

.todoform {
  margin-top: 30px;
}

.active {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: red;
}

.todoform{
  display: flex;
  flex-direction: column;
}

.form{
  display: none;
}

.yes {
  display: flex;
}

